{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>bienvenue sur le site de vente de livres symbook</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quod sit ad excepturi similique! Quaerat voluptate temporibus et delectus. Omnis repudiandae quae beatae temporibus quam dolorum sunt odio eveniet odit!
Deserunt nostrum odit, veniam libero optio dicta minima, corrupti voluptate sit tempore, reprehenderit necessitatibus error assumenda cum quia quo eveniet iste obcaecati repellat! Tempora placeat eum aspernatur, quos facilis reprehenderit!
Similique magnam necessitatibus velit perspiciatis obcaecati magni sed. Blanditiis aperiam eum dolores incidunt voluptatibus similique? Blanditiis adipisci nostrum dignissimos quod mollitia eum assumenda rem sequi perspiciatis tempore. Reprehenderit, deleniti incidunt.
Laboriosam dolores explicabo aspernatur ad, iste soluta sunt aliquid tenetur iusto ipsa nihil reprehenderit delectus distinctio dolore officiis eveniet dolor nesciunt minus? Eaque dolores reiciendis commodi dolorum, officia amet iure.
Nam, beatae sit facilis amet assumenda quidem quibusdam commodi quaerat ea impedit, necessitatibus, architecto totam quis nesciunt? Quasi eius nisi corrupti laudantium dignissimos dolorum maiores, quisquam neque, fuga velit similique.
Ex adipisci eveniet in id cumque quasi recusandae placeat sequi. Dolorem ad modi quae. Qui suscipit eligendi, voluptate molestiae laboriosam quam quo autem necessitatibus reiciendis quod ut debitis dignissimos expedita.
Velit esse sunt consectetur rerum laborum necessitatibus aliquid odio molestiae aspernatur asperiores, sit, perferendis nulla natus a voluptate? Exercitationem fuga laudantium labore reprehenderit facere quibusdam culpa modi perspiciatis nobis neque!
Consectetur porro obcaecati aspernatur omnis nam numquam id quod unde eligendi ab totam qui suscipit quae eveniet minus eum ex nesciunt, blanditiis excepturi rerum. Ullam facere natus quidem ut quisquam.
Commodi, magni voluptatibus vitae dicta quaerat blanditiis labore sapiente pariatur explicabo quia cumque excepturi deleniti sit nam reiciendis enim assumenda. Culpa, sunt illo? Maiores vitae corporis ad dignissimos quod mollitia?
Minus quibusdam esse, blanditiis, ad tempore harum sint magni dicta cumque quam laboriosam tempora amet vero rem. Porro expedita aperiam ipsa? Harum quos magnam quidem omnis quasi dolore! Totam, ea!
Iste nulla natus recusandae sit necessitatibus, dolorum, totam tempore perspiciatis sapiente quae repudiandae ducimus. A sunt sed rem repudiandae, ullam eius molestiae iusto nemo animi quidem, in, cupiditate harum. Labore!
Officia, iusto aspernatur ipsam iure rem in asperiores voluptatem, illum illo ut esse sed dolorem at laboriosam! Eum eligendi qui corporis recusandae eveniet reiciendis nesciunt? Repellendus reprehenderit aperiam vel exercitationem!
Recusandae, dignissimos alias harum doloribus at autem sint perspiciatis sit veritatis debitis nihil sed officiis. Amet incidunt debitis architecto? Excepturi amet aut unde modi nam, ad numquam officia tenetur sequi?
Asperiores officia ipsam aperiam unde dolor consequatur earum, doloribus error incidunt, nostrum suscipit? Pariatur, saepe fugit ea et molestias quo dolorem necessitatibus facilis, voluptatum ratione unde molestiae quos aspernatur itaque.
{% endblock %}
